.MainPage_container {
    height: calc(100vh - 65px);
    display: flex;
    flex: 1;
    padding: 0 5%;
    font-family: 'Signika', sans-serif;
    // margin-bottom: 250px;
    // background-color: rgb(30, 39, 137);

    .left_side_container {
        flex: 0.5;
        padding-top: 130px;

        h1 {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 55px;
            color: #111111;
        }

        div {
            margin-top: 15px;
            p {
                font-size: 30px;
                color: gray;
                font-family: 'Signika', sans-serif;
                font-weight: 600;
                text-transform: capitalize;
            }
        }

        p {
            font-weight: 500;
            font-family: system-ui;
            font-size: 14px;
            letter-spacing: 1px;
            margin-top: 10px;
        }

        .button_container {
            display: flex;
            gap: 15px;
            margin-top: 25px;

            .color_button,
            .plain_button {
                font-family: 'Signika', sans-serif;
                padding: 12px 24px;
                background-color: rgb(233, 110, 15);
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            .plain_button {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: white;
                color: black;
                border: 1px solid gray;

                .project_icon {
                    font-size: 20px;
                    animation: icon 3s linear infinite;

                    @keyframes icon {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }

    .right_side_container {
        flex: 0.5;
        resize: both;

        .image_container {
            height: 350px;
            width: 350px;
            border-radius: 50%;
            margin: auto;

            img {
                box-shadow: 0px 0px 35px rgba(256, 256, 256),
                    0px 0px 65px rgba(233, 110, 15, 0.3),
                    0px 0px 105px rgba(233, 110, 15, 0.5);
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
.MuiTypography-root{
    padding-top: 12px!important;
    padding-bottom: 0px!important;
}
.MuiDialogContent-root{
    padding-bottom: 0px !important;
}

.icon_rotate_animation {
    animation: icon 3s linear infinite;

    @keyframes icon {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@media (max-width: 768px) {
    .MainPage_container {
        flex-direction: column-reverse;
        height: max-content;
        padding: 5%;
        gap: 20px;

        .left_side_container {
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .right_side_container {
            .image_container {
                height: 350px;
                width: 350px;

                .tooltip_container {
                    display: none;
                }
            }
        }
    }
}

// for mobile

@media (max-width: 450px) {
    .MainPage_container {
        padding: 45px 0px;

        .right_side_container {
            .image_container {
                height: 250px;
                width: 250px;
            }
        }

        .left_side_container {
            padding: 35px 0px;
            .button_container{
                flex-direction: column;
                width: 75%;
                .plain_button{
                    justify-content: center;
                    padding: 10px 24px;
                }
            }
            div{
                p{
                    font-size: 28px;
                }
            }
            h1 {
                font-size: 35px;
            }

            h2 {
                font-size: 25px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}