.header_container {
    height: 80px;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-family: 'Signika', sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;

    .header_logo {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .header_menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .navbar {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                list-style: none;
                font-size: 15px;
                letter-spacing: 1px;
                gap: 5px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 10px 20px;
                align-items: center;
                transition: 0.5s;
            }

            a::after {
                content: "";
                width: 0px;
                height: 2px;
                position: relative;
                background-color: rgb(233, 110, 15);
                bottom: 0;
                transition: 0.5s;
            }
            .active::after {
                width: 100%;

            }

        }
    }


    .header_Button {
        font-size: 15px;
        padding: 12px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
        background-color: rgb(233, 110, 15);
        cursor: pointer;
    }
}